            .header{
            background-color: rgba(0, 0, 0, 0.555);
            height: 80px;
            padding: 12px 0px ;
            width: 100%;
            position: absolute;
            z-index: 10000;
}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 32px;
}
.nav ul{
    list-style: none;
}
.nav li{
    margin: 0 24px;
    position: relative;
}
.nav li a{
    color: white;
    text-decoration: none;
}
.nav li a:hover{
    text-decoration: underline;
}
.sub-menu{
    background-color: rgba(255, 251, 247, 0.205);
    color: white;
    position: absolute;
    left: 0;
    width: 150px;
    padding: 12px;
    display: none;
}
.sub-menu li{
    margin: 0;
}
.nav li:hover .sub-menu{
    display: block;
}
.header img{
 margin: 0px 10px 0 10px;

 
}
            .banner{
            height: 100vh;
            background-size: cover;
            position: relative;
}
.banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box{
    position: absolute;
    top: 70%;
    left: 3%;
    transform: translate(0,-50%);
    color: white;
}
.text-box p{
    margin: 30px 0 30px;
}
.text-box span{
    margin-right: 10px;
}
            .favorite{
            background-color: rgb(41, 33, 9);
            height: 100%;
            padding: 80px 0 ;
}
.favorite h2{
    margin: 0 0 50px 0;
}
.card{
    background: rgba(46, 45, 45, 0.616);
    border-radius: 10px ;
    padding: 20px;
}
.feature-image{
    overflow: hidden;
    height: 270px;
    box-shadow: 0px 5px 52.8537px rgba(255, 189, 128, 0.575);
    border-radius: 100%;
    margin: 0 0 60px 0;
}
.feature-image img{
    width: 100%;
}
.content-card{
    padding: 0;
}
.content-card h3{
    font-size: 30px;
    color: white;
}
.content-card a{
    font-size: 25px;
    margin: 0;
}
.favorite h4{
    margin: 30px 0 0 0;
    font-size: 30px;
}
            .farm{
            width: 100%;
            height: 100%;
            padding: 100px 0 ;
            background-color:rgb(24, 16, 7) ;
            
}
.container-farm{
    
        width: 1400px;
        margin: 0 auto;
        position: relative;
    
}
.farm-text h1{
    margin: 20px 0 50px 0;
}
.farm-text p{
    margin: 0 0 20px 0;
}
.farm-image{
    box-sizing: border-box;
    margin: 50px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;

}
.farm-image img{
    overflow: hidden;
    width: 700px;
    border-radius: 20px;
}
.overlay{
    box-sizing: border-box;
    margin: 50px 0 0 0;
    position: absolute;
    top:0;
    right: 0;
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    transition-duration: 2s;
    visibility: hidden;

}
.overlay img{
    width: 700px;
    border-radius: 20px;
}
.box:hover .overlay{
    /* display: block; */
    opacity: 1;
    visibility: visible;
}



            .types{
            width: 100%;
            height: 100%;
            background-color: rgb(41, 33, 9); 
            padding: 100px 0;  
}
.container-types{
    width: 1400px;
    margin: 0 auto;
    /* position: relative; */
    
}
.card-types{
    
    border-radius: 10px ;
    padding: 20px;
    
}
.image-types img{
    width: 350px;
    height: 350px;
    margin: 100px auto 10px ;
      
}

            .footer{
                width: 100%;
                height: 100%;
                background-color: rgb(51, 38, 19); 
                padding: 30px 0;  
            }
.footer a{
    font-size: 40px;   
}
.footer p{
    margin: 30px 0 0 0 ;
    font-size: 20px;
}
.image-footer{
    margin:30px 0 0 0;
}
.image-footer img{
    margin: 0 20px 0 0;
}


